---
# This config file allows the 'refresh' subcommand for end2end_k8s.py to 
# refresh a k8s secret for a given cluster and namespace.
# The secret itself is a base64 encoded access/secret pair for an AWS IAM user
# in a given account.
secrets:
  buttslol:                                                                # the name of the secret on the cluster+namespace
    type: IAM_K8s                                                          # type informs the library what kind of secret/workflow needs to happen
    instances:
    - cluster: bauron                                                      # the name of the cluster. Duh.
      namespace: default                                                   # the name of the namespace. Double duh.
      iam_user: plops-super-import-user                                    # the name of the AWS IAM user which
                                                                           # owns the access/secret pair.
      aws_keys: sandbox                                                    # the name of the aws keys hash (below), the AWS IAM 
                                                                           # user/role for which has access to control the
                                                                           # access/secret pair for 'iam_user', above.
      key: credentials                                                     # For IAM secrets, this is simply the sub-key for the K8s secret "data" field.
                                                                           # For S3 secrets, this is a shared tag:
                                                                           #  - The sub-key for the K8s secret "data" field
                                                                           #  - The bucket key for the object to upload
    - cluster: sam
      namespace: default
      iam_user: plops-unimportant-user
      aws_keys: super-prod

  test-lemur-shared:
    type: S3_K8s
    instances:
    - cluster: bauron
      namespace: default
      bucket: super-prod-shared-secret                                     # For S3_K8s secrets, a bucket name is required as well as a key
      aws_keys: super-prod
      key: secrets-test                                                    # The bucket key as well as the "data" key

aws_keys:                                                                  # a hash of AWS IAM user/role access/secret keys
  sandbox:                                                                 # These keys+session token (were they real) were generated via
                                                                           # assumeRole and give permission to change the access/secret keys for
                                                                           # 'plops-super-important-user' on the sandbox account
    aws_access_key_id: ABCDEF123456
    aws_secret_access_key: Gibberish76+gobbledigook87
    aws_session_token: aaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbb/ccccccccccccccccccccccdddddddd=
  super-prod:                                                              # These keys+session token (were they real) were generated via
                                                                           # assumeRole and give permission to change the access/secret keys
                                                                           # for 'plops-unimportant-user' on the super-prod account
    aws_access_key_id: GHIJKL789012
    aws_secret_access_key: Nonsense/stuff124+ASDFqwer
    aws_session_token: eeeeeeeeeeeeeeeeeeeeeee/fffffffffffffffffffffffffffffffggggggggggggg/hhhhhh=
